<p>
  <strong>Firstname:</strong>
  <%= @user.first_name %>
</p>
 
<p>
  <strong>Lastname:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Checking Bal:</strong>
  <%= @user.checking %>
</p>

<p>
  <strong>Savings Bal:</strong>
  <%= @user.savings %>
</p>

<%= link_to 'Back', users_path %