<p>
  <strong>Item:</strong>
  <%= @proposal.item %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @proposal.price%>
</p>

<p>
  <strong>Email:</strong>
  <%= @proposal.monthly_payments %>
</p>

<p>
  <strong>Checking Bal:</strong>
  <%= @proposal.months %>
</p>


<%= link_to 'Back', proposals_path %
